.fbx filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
Unity_File/Effect_Project_Ori/Library/Artifacts/51/51442b901a39d52d8aba665d22b72224 filter=lfs diff=lfs merge=lfs -text
Unity_File/Effect_Project_Ori/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Unity_File/Effect_Project_Ori/Library/Artifacts/00/00ae39ddc0bf96caf4fe52469d445d53 filter=lfs diff=lfs merge=lfs -text
Unity_File/Effect_Project_Ori/Library/Artifacts/0f/0f8f37b27b6bfc0b732116425bccc1cf filter=lfs diff=lfs merge=lfs -text
Unity_File/Effect_Project_Ori/Library/Artifacts/c1/c172182c37e4e76c976bb4538876592e filter=lfs diff=lfs merge=lfs -text
Unity_File/Effect_Project_Ori/Library/Artifacts/d7/d7516a9aea8aaa59a380e84301a64e07[[:space:]]is[[:space:]]126.17 filter=lfs diff=lfs merge=lfs -text
Unity_File/Effect_Project_Ori/Library/Artifacts/d7/d7516a9aea8aaa59a380e84301a64e07 filter=lfs diff=lfs merge=lfs -text
