@font-face {
  font-family: "iconfont"; /* Project id 438759 */
  src: url('//at.alicdn.com/t/font_438759_d66lkuno6c9.woff2?t=1636699893382') format('woff2'),
       url('//at.alicdn.com/t/font_438759_d66lkuno6c9.woff?t=1636699893382') format('woff'),
       url('//at.alicdn.com/t/font_438759_d66lkuno6c9.ttf?t=1636699893382') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info_help_circle_line_24:before {
  content: "\e603";
}

.icon-qipao:before {
  content: "\e63e";
}

.icon-tag:before {
  content: "\e6ce";
}

.icon-a-Slice1:before {
  content: "\e63d";
}

.icon-yincang:before {
  content: "\e63c";
}

.icon-a-Slice2:before {
  content: "\e63b";
}

.icon-wenhao:before {
  content: "\e63a";
}

.icon-xinjian:before {
  content: "\e639";
}

.icon-ic_zhiboyuyue:before {
  content: "\e638";
}

.icon-ic_toupiao:before {
  content: "\e637";
}

.icon-ic_choujiang:before {
  content: "\e636";
}

.icon-ic_at:before {
  content: "\e61a";
}

.icon-ic_yuyue:before {
  content: "\e619";
}

.icon-ic_tupian:before {
  content: "\e617";
}

.icon-ic_huati:before {
  content: "\e615";
}

.icon-ic_dingshi:before {
  content: "\e614";
}

.icon-ic_biaoqing:before {
  content: "\e613";
}

.icon-ic_channel1:before {
  content: "\e611";
}

.icon-ic_array_card:before {
  content: "\e60f";
}

.icon-ic_array_list:before {
  content: "\e610";
}

.icon-into:before {
  content: "\e765";
}

.icon-heji:before {
  content: "\e762";
}

.icon-ic_class1:before {
  content: "\e635";
}

.icon-huaban:before {
  content: "\e718";
}

.icon-dianzan:before {
  content: "\e710";
}

.icon-bofang:before {
  content: "\e711";
}

.icon-bodan:before {
  content: "\e712";
}

.icon-pinglun:before {
  content: "\e713";
}

.icon-shixiao:before {
  content: "\e714";
}

.icon-fenxiang:before {
  content: "\e715";
}

.icon-shoucang:before {
  content: "\e716";
}

.icon-tianjia:before {
  content: "\e717";
}

.icon-xiangxia:before {
  content: "\e719";
}

.icon-xiangshang:before {
  content: "\e71a";
}

.icon-shouting:before {
  content: "\e605";
}

.icon-checkbox_selected:before {
  content: "\e631";
}

.icon-checkbox:before {
  content: "\e632";
}

.icon-radio:before {
  content: "\e633";
}

.icon-radio_selected:before {
  content: "\e634";
}

.icon-ic_close:before {
  content: "\e630";
}

.icon-ic_more:before {
  content: "\e62f";
}

.icon-ic_upload:before {
  content: "\e62e";
}

.icon-ic_following:before {
  content: "\e62d";
}

.icon-ic_collect:before {
  content: "\e624";
}

.icon-ic_channel:before {
  content: "\e625";
}

.icon-ic_home:before {
  content: "\e626";
}

.icon-ic_setting:before {
  content: "\e627";
}

.icon-ic_playlist:before {
  content: "\e628";
}

.icon-ic_interest:before {
  content: "\e629";
}

.icon-ic_sub:before {
  content: "\e62a";
}

.icon-ic_article:before {
  content: "\e62b";
}

.icon-ic_video:before {
  content: "\e62c";
}

.icon-ic_time:before {
  content: "\e623";
}

.icon-ic_moveup:before {
  content: "\e620";
}

.icon-ic_movedown:before {
  content: "\e621";
}

.icon-ic_delete:before {
  content: "\e622";
}

.icon-ic_play:before {
  content: "\e61b";
}

.icon-ic_comment:before {
  content: "\e61c";
}

.icon-ic_up:before {
  content: "\e61d";
}

.icon-ic_danmu:before {
  content: "\e61e";
}

.icon-ic_collection:before {
  content: "\e61f";
}

